.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  width: 95%;
  margin: 0 auto;
}

.main-shoe-cart-item {
  display: grid;
  grid-template-columns: 100px 250px 60px 90px 60px 60px;
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border_color);
}

.main-shoe-cart-item-img {
  max-width: 100px;
}

.main-shoe-cart-item-quantity-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.main-shoe-cart-item-quantity {
  font-size: 18px;
}

.button-delete {
  max-width: 60px;
  padding: 5px 3px;
}

.quantity-button {
  padding: 5px 10px;
}

.main-totalSumm-wrapper {
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10%;
  font-size: 20px;
}

.main-order-wrapper,
.main-promo-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin-top: 10px;
}

.main-promo-wrapper {
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.main-promo-input-wrapper {
  display: flex;
  gap: 10px;
}

.promo-button {
  padding: 2px 10px;
  border-radius: 0;
}

.main-promo-input {
  width: 280px;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border: 1px solid var(--border_color);
  border-bottom: 2px solid var(--border_color);
  background-color: transparent;
  color: var(--header_promo_color);
  transition: border-bottom-color 0.3s ease, box-shadow 0.3s ease;
}

.main-promo-input:focus {
  border-bottom-color: var(--header_promo_color);
  box-shadow: 0 3px 8px rgba(108, 99, 255, 0.3);
  outline: none;
}

.main-promo-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.button-promo-apply {
  background-color: var(--promo_price_color);
  padding: 5px;
}

.promo-already-applied-text,
.promo-error-text {
  color: var(--promo_price_color);
  padding: 10px 0;
}

@media (max-width: 870px) {
  .main-shoe-cart-item {
    grid-column-gap: 5px;
  }
}

@media (max-width: 665px) {
  .main-shoe-cart-item {
    font-size: 14px;
    grid-template-columns: 100px 100px 50px 70px 55px 50px;
  }
  .main-shoe-cart-item {
    display: grid;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border_color);
  }

  .main-shoe-cart-item-name {
    text-align: center;
  }

  .main-shoe-cart-item-size,
  .main-shoe-cart-item-price {
    font-size: 12px;
  }
}

@media (max-width: 470px) {
  .main-shoe-cart-item {
    width: 300px;
    font-size: 20px;
    grid-template-columns: inherit;
    grid-row-gap: 10px;
  }

  .main-shoe-cart-item-img {
    max-width: 150px;
  }

  .main-shoe-cart-item-size,
  .main-shoe-cart-item-price {
    font-size: 18px;
  }

  .main-shoe-cart-item-quantity-wrapper {
    gap: 30px;
  }

  .main-shoe-cart-item-quantity {
    font-size: 28px;
  }

  .quantity-button {
    padding: 10px 20px;
  }

  .button-delete {
    max-width: 150px;
    padding: 10px 20px;
  }

  .main-promo-input {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .main-shoe-cart-item {
    width: 250px;
    font-size: 16px;
    grid-template-columns: inherit;
    grid-row-gap: 5px;
  }

  .main-shoe-cart-item-size,
  .main-shoe-cart-item-price {
    font-size: 14px;
  }

  .main-shoe-cart-item-quantity-wrapper {
    gap: 20px;
  }

  .main-shoe-cart-item-quantity {
    font-size: 24px;
  }

  .quantity-button {
    padding: 5px 15px;
  }

  .button-delete {
    max-width: 150px;
    padding: 5px 15px;
  }

  .main-promo-input {
    width: 150px;
  }
}
