.main-shoes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.main-shoes-header-sort-wrapper {
  width: 100%;
  max-width: 150px;
}

.main-shoes-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#items-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.main-shoes-field-wrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.main-shoes-field-nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  font-size: 20px;
  margin-left: 20px;
}

.main-shoes-field-nav-players-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-players-item {
  position: relative;
  cursor: pointer;
}

.main-players-item:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--border_backgr_color);
  content: '';
  transition: width 1s ease-out;
}

.main-shoes-field-items-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(32% - 5px);
  height: 400px;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}
.main-shoes-field-items-item:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 1% 1%;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
}

.main-shoes-field-items-item-img {
  width: 250px;
}

.main-shoes-field-nav-filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-shoes-field-nav-filters-colors-wrapper,
.main-shoes-field-nav-filters-sizes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 200px;
}

.main-shoes-field-nav-filters-sizes-items-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.main-shoes-field-nav-filters-colors-item,
.main-shoes-field-nav-filters-sizes-item {
  cursor: pointer;
}

.main-shoes-field-nav-filters-sizes-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid var(--border_color);
  border-radius: 10px;
}

.main-shoes-header-sort-items-switcher,
.main-shoes-field-nav-filters-colors-items-switcher,
.main-shoes-field-nav-filters-sizes-items-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-shoes-header-sort-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* icon-switchers start*/
.icon-switcher {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-switcher::before,
.icon-switcher::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
  transition: transform 0.3s;
}

.icon-switcher::before {
  transform: rotate(0deg);
}

.icon-switcher::after {
  transform: rotate(90deg);
}

.icon-switcher.active::before {
  transform: rotate(0deg);
}

.icon-switcher.active::after {
  transform: rotate(0deg);
}
/* icon-switchers end*/

#color-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-shoes-field-nav-filters-colors-item-item {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

@media (max-width: 1000px) {
  .main-shoes-field-items-item {
    width: calc(50% - 10px);
  }
}

@media (max-width: 1000px) {
  .main-shoes-field-wrapper {
    flex-direction: column;
  }

  .main-shoes-field-nav-players-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }

  .main-shoes-field-nav-filters-wrapper {
    flex-direction: row;
    gap: 30vw;
  }

  #items-field {
    padding: 0 5px;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .main-shoes-header {
    flex-direction: column;
    gap: 20px;
  }

  .main-shoes-field-nav-filters-wrapper {
    gap: 5vw;
  }

  .main-shoes-field-items-item {
    width: 90%;
  }
}
