/* scrollbar settings */
#nav {
  scrollbar-width: thin;
  scrollbar-color: var(--header_promo_color) var(--text_color2);
}
/* scrollbar settings */

.header-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.header-promo {
  background-color: var(--header_promo_color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-promo-text {
  text-align: center;
  padding: 12px 0;
  color: var(--text_color2);
}

.header-menu_wrapper,
.header-menu-account {
  display: flex;
  flex-direction: row;
}

.header-menu_wrapper {
  justify-content: space-between;
  align-items: center;
}

.header-menu-account {
  gap: 1vw;
}

.header-menu-logo,
.header-menu-account-fav,
.header-menu-account-cart,
.header-menu-account-login {
  cursor: pointer;
}

.header-slogan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: default;
}

.header-slogan-title {
  font-size: 350px;
  font-weight: 900;
  line-height: 400px;
  text-transform: uppercase;
  color: var(--text_price_color);
  font-family: 'Teko', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-slogan-image {
  position: absolute;
  max-width: 450px;
  top: -5vh;
  perspective: 1000px;
}

.header-slogan-image img {
  transition: transform 0.9s;
  transform-style: preserve-3d;
}
