/* scrollbar settings */
#nav {
  scrollbar-width: thin;
  scrollbar-color: var(--header_promo_color) var(--text_color2);
}
/* scrollbar settings */

.header__wrapper {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.header__promo {
  background-color: var(--header_promo_color);
}

.header__promo-text {
  text-align: center;
  padding: 12px 0;
  color: var(--text_color2);
}

.header__menu_wrapper,
.header__menu__account {
  display: flex;
  flex-direction: row;
}

.header__menu_wrapper {
  justify-content: space-between;
  align-items: center;
}

.header__menu__account {
  gap: 1vw;
}

.header__menu__logo,
.header__menu__account-fav,
.header__menu__account-cart,
.header__menu__account-login {
  cursor: pointer;
}

.header__slogan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: default;
}

.header__slogan-title {
  font-size: 350px;
  font-weight: 900;
  line-height: 400px;
  text-transform: uppercase;
  color: var(--text_price_color);
  font-family: 'Teko', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header__slogan-image {
  position: absolute;
  max-width: 450px;
  top: -5vh;
  perspective: 1000px;
}

.header__slogan-image img {
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

.header__slogan-image:hover img {
  transform: rotateY(15deg) rotateX(15deg);
}
