.main-newArrivals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}
.main-newArrivals-text-arrows-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 99%;
}

.main-newArrivals-arrows {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.main-newArrivals-arrows-left_wrapper,
.main-newArrivals-arrows-right_wrapper {
  cursor: pointer;
}

.main-newArrivals-items_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  max-width: 1024px;
  gap: 200px;
}

.main-newArrivals-items-item {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  cursor: pointer;
}

.main-newArrivals-items-item-image {
  max-width: 270px;
  max-height: 250px;
  border-radius: 2vh;
}

.main-newArrivals-items-item-price-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.main-newArrivals-shopNow {
  margin: 0 auto;
}

#brandname_wrapper,
.main-brandname-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.main-brandname-item-wrapper {
  flex-direction: row;
  gap: 8px;
}

.main-brandname-item {
  width: 100vw;
  max-height: 542px;
  height: 100vh;
  border-radius: 2vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.brandname-item1 {
  max-width: 1440px;
  max-height: 495px;
}

.brandname-item2,
.brandname-item5 {
  max-width: 883px;
}
.brandname-item3,
.brandname-item4 {
  max-width: 548px;
}

.button-brandname {
  position: absolute;
  bottom: 3vh;
  left: calc(50% - 50px);
}

.main-services {
  margin: 10vh 0;
}

.main-services-text {
  display: none;
}

.main-services-wrapper,
.main-services-delivery,
.main-services-service,
.main-services-moneyback {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.main-services-delivery,
.main-services-service,
.main-services-moneyback {
  flex-direction: column;
  gap: 0.5vh;
}
.main-services-delivery-slogan,
.main-services-service-slogan,
.main-services-moneyback-slogan {
  font-weight: 700;
  font-size: 24px;
}
.main-services-delivery-text,
.main-services-service-text,
.main-services-moneyback-text {
  font-weight: 400;
  font-size: 16px;
}
/*
@media (max-width: 1460px) {
  .main-brandname-item-wrapper {
    width: 96vw;
  }
}
