<div class="footer-wrapper">
    <div class="footer-socials-wrapper">
        <div class="footer-socials-facebook-wrapper" id="facebook">
        </div>
        <div class="footer-socials-instagram-wrapper" id="instagram">
        </div>
        <div class="footer-socials-linkedIn-wrapper" id="linkedIn">
        </div>
        <div class="footer-socials-x-wrapper" id="x">
        </div>
        <div class="footer-socials-youtube-wrapper" id="youtube">
        </div>
    </div>
    <div class="footer-address-contacts-wrapper">
        <div class="footer-address-wrapper">
            <address>
                Beaverton, OR, United States
            </address>
        </div>
        <div class="footer-contacts-wrapper">
            <div class="footer-contacts-phone">
                <a href="tel:+5035262400">+503-526-2400</a>
            </div>
            <div class="footer-contacts-mail">
                <a href="mailto:nike@gmail.com">Send e-mail</a>
            </div>
        </div>
    </div>
</div>