<div class="footer-wrapper">
    <div class="footer-socials-wrapper">
        <div class="footer-socials-facebook-wrapper">
            <a href="https://www.facebook.com/nike/?locale=en_EN" id="facebook" target="_blank"></a>
        </div>
        <div class="footer-socials-instagram-wrapper">
            <a href="https://www.instagram.com/nike/" id="instagram" target="_blank"></a>
        </div>
        <div class="footer-socials-linkedIn-wrapper">
            <a href="https://www.linkedin.com/company/nike" id="linkedIn" target="_blank"></a>
        </div>
        <div class="footer-socials-x-wrapper">
            <a href="https://x.com/Nike?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" id="x"
                target="_blank"></a>
        </div>
        <div class="footer-socials-youtube-wrapper">
            <a href="https://www.youtube.com/user/NIKE" id="youtube" target="_blank"></a>
        </div>
    </div>
    <div class="footer-address-contacts-wrapper">
        <div class="footer-address-wrapper">
            <address>
                Beaverton, OR, United States
            </address>
        </div>
        <div class="footer-contacts-wrapper">
            <div class="footer-contacts-phone">
                <a href="tel:+5035262400">+503-526-2400</a>
            </div>
            <div class="footer-contacts-mail">
                <a href="mailto:nike@gmail.com">Send e-mail</a>
            </div>
        </div>
    </div>
</div>