#header {
  position: fixed;
  width: 99%;
  max-width: 1440px;
  top: 0;
  z-index: 1000;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}

.header-promo {
  background-color: var(--header_promo_color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-promo-text {
  text-align: center;
  padding: 12px 0;
  color: var(--text_color2);
}

.header-menu_wrapper,
.header-menu-account {
  display: flex;
  flex-direction: row;
}

.header-menu_wrapper {
  justify-content: space-between;
  align-items: center;
  background-color: var(--text_color2);
}

.header-menu-account {
  gap: 1vw;
}

.header-menu-logo,
.header-menu-account-fav,
.header-menu-account-cart,
.header-menu-account-login {
  cursor: pointer;
}

@media (max-width: 360px) {
  .header-promo {
    font-size: 12px;
  }
}
